# Enviornment variable
.env


# Images
/images

# Screenshots
Screenshot *.png


# Power Point Presentation
.ppt
.pptx
Private Key Presentation.pptx

# Excel
~$keys.xlsx
~$oup6_Project_Report.docx
~$Private Key Presentation.pptx
keys.xlsx
*.xlsx
.xls